#title
{
    background-color:#c4d70f;
    color: #fff;
    font-family: "Poppins"
}

.nav-item {
    padding: 0 15px;
}
.slider 
{
    align-items: center;

}
.row
{
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;

}
.slider-img
{
    
    width: 100%;
    position: relative;
    z-index: 2;
}


h1
{
    color: #fff;
}
span
{
    color: black;
}
.download-button
{
    border-radius: 35px;
    padding: 9px 35px;
}

.about-btn
{
    padding: 8px 25 px;
    border-radius: 35px; 
    color: #c4d70f;
    border: 2px solid #c4d70f ;
   
    margin-top: 55px;
}
.section_about
{
    margin-top: 45px;
    text-align: center;
    background-color: #fff;
    color:black;
   
}
.layout_padding {
    padding: 75px 0;
}

.about-container
{
    
    display:flex;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div{
    display:block;
}
.card a {
  
        display: inline-block;
        padding: 8px 25px;
        border: 2px solid #ffffff;
        color: #c4d70f;
        border-radius: 35px;
        margin-top: 55px;
        text-decoration: none;
}
.card {
    padding: 2px 25px 35px 25px;
    height: 420px;
    box-shadow: -1px 0px 25px 9px rgb(0 0 0 / 9%); 
    margin: 45px 20px;
    width: 30%;
    min-width: 300px;
   
}
.about-detail
 {
    padding: 2px 25px 35px 25px;
    height: 420px; 
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 3% 2%;
   /* flex-wrap: wrap;*/
    display:flex;
    
}
.sec-portfolio
{
    text-align: center;
    background-color: #fff;
    color: black;
}
.padding2
{
    padding: 45px 0;
    
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.folio-img-box img {
    width: 100%;
    height: max-content;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* padding-left: 10px; */
}
h2{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.sec-team
{
    background-color: #fff;
    color:black;
    text-align: center;
    
   
}
.padding3{
    padding: 75px 0;

}
.team-padding3
{
    padding:45px 0;
}

.team-card {
    width: 250px;
    padding: 5px 15px;
    margin: 35px 0;
}

.team-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #9be604;
}
.team-card img
{
    width: 100%;
}
.team-detail-box {
    width: 150px;
    margin: 35px auto 0 auto;
}
.team-follow h6 {
    color: #9be604;
}
.team-social {
    display: flex;
    justify-content: space-between;
}
.conslt-section 
{
    background-color: #fff;
    color: black;
    text-align: center;
    height: 45px;
   
      
}
.padding4{
    padding: 75px 0;
}
.conslt-form-container
{
    text-align: left;
}
.conslt-section p{
    color: darkgray;
    font-size: 20px;
    margin-bottom: 0;
}
.conslt-section label{
    display: flex;
    flex-direction: column;
    color: #797879;
    margin-bottom: 25px;
}
.conslt-form-container button{
    background-color: #a0e711;
    border:#a0e711 ;
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
}


body {
    font-family: "Poppins", sans-serif;
    color: #1b161d;}

.signform
{
    background-color: #c4d70f;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        /* box-sizing: border-box; */
        padding: 0 30px; 
}
.sec-sign label{
        display: flex;
        flex-direction: column;
        color: #797879;
        margin-bottom: 5px;
}
.sec-sign button{
    background-color: #a0e711;
    border:#a0e711 ;
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
}
.clearfix
{
    margin-bottom: 25px;
    margin-top: 25px;
}
   